body {font-family: 'Oxygen', sans-serif;}
h1, h2 {text-align: center}

.exercise {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    border: 2px solid white;
    border-radius: 10px;
    /* background-color: rgb(85, 148, 104); */
    background-image: linear-gradient(to bottom right, rgb(156, 228, 177), rgb(85, 148, 104));
    margin: 10px auto;
    padding: 5px;
    text-align: center
}

.exercise:hover {
    border: solid 2px green;
    box-shadow: 6px 4px 17px -1px rgba(0,0,0,0.75);
}

.exercise h3 {
    margin: 8px;
    width: 100%;
    text-align: center;
}

.QandA {
    /* padding: 0 10px; */
    width: 80%;
}

.ans, .result {
    background-color: blanchedalmond;
    padding: 10px;
    /* width: 100%; */
    overflow: hidden;
}
/* .ans {border-radius: 10px 10px 0 0} */
.result {border-radius: 0 0 8px 8px}

.res {
    color: red;
}

input {margin-bottom: 5px}
@media screen and (min-width: 820px) {
    .exercise {width: 800px; flex-direction: row; }
    .exercise h3 {margin: 0 8px; width: 20%;}
    .result {border-radius: 0 0 8px 0}
}